h1 {
    position: relative;
}

.colorbutton {
    color: black;
}

.padding-col {
    padding-top: 70px;
    padding-bottom: 70px;
}

.head-size {
    font-size: xx-large;
}

.social-box {
    background-color: #d8dfea;
}

.bold, h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.small, .text--small, label.small, small {
    font-size: 13px;
    line-height: 1.6;
}

.align-box {
    margin-top: 40px;
    margin-bottom: 40px;
}

.logo {
  height: 400px;
  width: 400px;
}

.bg-coral {
    background: lightcoral;
}

.containerd{

    border-radius: 12px;
    background-color: white;
    text-align: center;
    border: 5px solid rgba(243, 238, 238, 0.2);
    box-shadow: 2px 2px 5px gray;
    background-color: #fff;
    box-sizing: border-box;

}