h1 {
    position: relative;
}

.colorbutton {
    color: black;
}

.padding-col {
    padding-top: 100px;
    padding-bottom: 100px;
}

.head-size {
    font-size: xx-large;
}

.social-box {
    background-color: #d8dfea;
}

.bold, h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.small, .text--small, label.small, small {
    font-size: 13px;
    line-height: 1.6;
}

.align-box {
    margin-top: 40px;
}