.border-wrapper {
    border-radius: 5px;
    width: 148.66px;
    height: 38px;
}

.font-wrapper {
    color: #777;
    font-size: 11px;
}

.birthday-wrapper {
    color: #777;
    font-size: 16px;
    margin-top: 10px;
}